@use "../partials/variables" as *;

.contactButton {
  min-width: 25%;
  letter-spacing: 0.25rem;
  border-radius: 0;
  background-color: white;

  &:disabled {
    opacity: 0.4;
  }

  &:hover:not([disabled]) {
    background-color: $highlight-gray;
    box-shadow: 0 0.25rem 1rem rgba(52, 138, 255, 0.1),
      0.5rem 0.25rem 1rem rgba(52, 138, 255, 0.1);
    cursor: pointer;
    transform: translateY(-0.0625rem);
  }
}
