@use "../partials/variables" as *;

.input {
  border-radius: 0;

  &:global(.is-invalid) {
    border-color: $error-red;
    border-width: 0.125rem;
  }
}

.errorMessage {
  text-align: left;
  align-self: flex-start;
}
