@use "../partials/variables" as *;
@use "../partials/mixins" as *;

.footer {
  background-color: $footer-blue;
  min-height: 4rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

.span {
  display: block;

  @include media-breakpoint($md) {
    display: inline-block;
  }
}
