@use "../partials/variables" as *;
@use "../partials/mixins" as *;

.navbar {
  background-color: $cs-dark-blue;
  color: white;
  @include set-property(padding, y, 0.25rem);

  @include media-breakpoint($md) {
    @include set-property(padding, y, 0);
  }

  &:global(.navbar-dark) :global(.navbar-nav) :global(.nav-link) {
    color: white;
  }
}

.brandLink {
  font-size: 1.125rem;
}

.navToggler:global(.navbar-toggler) {
  border-color: white;
  @include set-color(background-color, $cs-dark-blue, $cs-blue);
}

.togglerIcon:global(.navbar-toggler-icon) {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbarBody {
  @include set-property(padding, y, 0.5rem);

  @include media-breakpoint($md) {
    @include set-property(padding, y, 0);
  }
}

.navItem {
  @include set-color(background-color, $cs-dark-blue, $cs-blue);

  &.active {
    background-color: $cs-light-blue;
  }
}

.navLink {
  @include media-breakpoint($md) {
    @include set-property(padding, y, 1rem);
  }
}
