// Blue Colours
$footer-blue: #2059ba;
$cs-dark-blue: #0062B6;
$cs-blue: #007AE4;
$cs-light-blue: #2cacff; //#199FFF;
$logo-color: #00bae9; //#02B8DC;

// Other Colours
$error-red: #ff433d;
$highlight-gray: #d6dce1;

// Fonts
$nunito: "Nunito", sans-serif;
$julius-sans: 'Julius Sans One', sans-serif;
$josefin-sans: 'Josefin Sans', sans-serif;

// Responsive Breakpoints
$xs: 0em;
$xs-mid: 20em;
$sm: 36em;
$md: 48em;
$lg: 62em;
$xl: 75em;
