@use "../partials/variables" as *;
@use "../partials/mixins" as *;

.intro {
  @include set-background("/images/backgrounds/main.jpg");
  width: 100%;
  padding-bottom: 0.5rem;
}

.introBody {
  padding-top: 4rem;
}

.logoMain {
  max-width: 50%;

  @include media-breakpoint($md) {
    max-width: 110%;
  }

  @include media-breakpoint($lg) {
    max-width: 75%;
  }
}

.logoContainer {
  @include media-breakpoint($md) {
    text-align: right;
  }
}

.introContent {
  letter-spacing: 0.25rem;
  @include media-breakpoint($md) {
    text-align: left;
    border-left: 0.25rem solid white
  }
}

.logoColored {
  color: $cs-dark-blue;
}

.aboutBtn {
  @include set-color(background-color, $cs-dark-blue, $cs-blue);
  @include set-property(margin, y, 1rem);
}

.aboutLink {
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }
}
